.login-container {
        margin: 0;
        background: url("https://sho.co/assets/images/eng_bg.png") #2d3743 no-repeat bottom right;
        background-size: 50%;
        padding: 5em 0;
        text-align: center;

        h1 {
            color:white;
            font-size: 2em;
        }
}