@import "~bulma";

$black :  #000;
$light-black : #323232;
$white : #fff;
$yellow : #f4de4d;

$dark-blue: #1a3b5a;

//colours
$blue : #2d3743;
$orange : #ed7e69;
$green: #93c783;
$yellow : #e5cb74;
$pink : #c990bf;
$light-blue : #7f95c7;

$screen-phone:               480px;
$screen-tablet:              768px;
$screen-desktop:             992px;
$screen-lg-desktop:          1200px;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}


*{
  font-family: 'Raleway', sans-serif;
}

html,
body{
  font-family: inherit;
  margin: 0 auto;
}

.relative{
  position: relative;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: $black;

  &:hover{
      color: $light-black;
  }
}


.yellow-text{
  color: $yellow; 
}

.container{
  margin: 0 auto;
  max-width: 960px;
  // padding: 1.45rem 1.0875rem;
}

section{
  @extend .relative;
}


// Responsiveness //


// Large Desktop
@media(min-width: 1368px) and (max-width: 1440px){
  
  .container{
      max-width: 960px;
  }

}

// Small Desktop
@media(min-width: 1280px) and (max-width: 1367px){
  
  .container{
      max-width: 960px;
  }
  
}


// Tablet
@media(min-width: 600px) and (max-width: 990px){
  
  .container{
      max-width: 100%;
      padding: 0;
      width: 100%;
  }
  
}

// Large Mobile
@media(min-width: 500px) and (max-width: 599px){
  
  .container{
      max-width: 960px;
  }
  
}

// Small Mobile
@media(min-width: 320px) and (max-width: 499px){
  
  .container{
      max-width: 960px;
      padding: 0;
  }
  
}

body.mobile-menu-show {
  #header {
    .navbar-header {
      position: relative;
      z-index: 1;
      background: none;
    }
    .icwrap {
      display: none;
    }
  }
}

@media(max-width: $screen-tablet){

  body.mobile-menu-show {
    #header {

      .mobile-menu{
        margin-top: 100px;
        
      }
      .icwrap{
        display: none;
      }
    }     
  }

    


  #header{

    .mobile-menu{
      margin-top: 100px;
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      overflow-y: auto;
      padding-bottom: 81px;
      background: #353535;

      .mobile-menu-wrap{
        padding: 15px;
      }

      .menu-internal, 
      .menu-main, 
      .menu-secondary, 
      .menu-social{
        background-color: #3f3f3f;
        color: #bbb;
        
      }

      ul {
        margin: 0;
        list-style: none;
        padding: 0;
        li{
          display:block;
          list-style: none;
          
          a{
            padding: 3px 15px;
            margin: 2px 0;
            line-height: 1.25;
            color: #fff!important;
            display: block;
            font-size: 26px;
          }
        }
      }
    }
  }
}

.collapse{
  display: none;
}


//@at-root

footer {
text-align: center;
clear: both;
font-weight: 300;
width: 100%;
.product-name {
  font-size: 16px;
  font-family: effra,Arial,sans-serif;
  font-weight: 400;
}
.social li {
  padding: 0 15px;
}
.sparkol-products li {
  max-width: 120px;
  width: auto;
  margin: 20px 18px;
  vertical-align: top;
}
.subscription{
  padding: 35px 0;

  .logo-sparkol-large {
      background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_logo_white.png');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 100%;
      width: 103px;
      height: 48px;
      display: inline-block;
      padding: 20px 0 0;
      margin: 0 3px;

      &.logo-link{
        font-size:0;
      }
  }

  ul.products {
    margin: 35px 0 40px;
    padding: 0;
    background: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/form_elements/addition.png') 50% 50% no-repeat;
    li {
      max-width: 165px;
      width: auto;
      margin: 0 13px;
      vertical-align: top;
      display: inline-block;
      .logo-link {
        height: auto;
        text-indent: 0;
        padding: 68px 0 0;
        margin: 0 30px;
        display: block;
        font-size: 0;
        background-repeat: no-repeat;
        &.logo-vs-large {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/vs_logo_large.png');
          background-position: 50% 0;
          background-size: 61px 50px;
       }
       &.logo-tawe-large {
        background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/tawe_logo_large.png');
        background-position: 50% 0;
        background-size: 43px 50px;
      }
     }
    }
  }
}

.sparkol-products{
  background-color: #3f3f3f;
  padding: 10px 0;
  ul.menu{
    li{
      .product-logo {
        padding: 45px 0 0;
        text-indent: 0;
        margin: 0;
        width: auto;
        background-repeat: no-repeat;
        display: block;

        &.logo-vsa-small{
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/vsa_logo_white.png');
          background-position: 50% 0;
          background-size: 28px 32px;
        }
        &.logo-blog-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/engblog_logo_white.png');
          background-position: 50% 13px;
          background-size: 44px 15px;
        }
        &.logo-ebook-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/ebook_logo_white.png');
          background-position: 50% 4px;
          background-size: 32px 29px;
      }
        &.logo-animole-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/animole_logo_white.png');
          background-position: 50% 9px;
          background-size: 44px 22px;
      }
        &.logo-tawe-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/tawe_logo_white.png');
          background-position: 50% 0;
          background-size: 30px 34px;
        }
        &.logo-svg-small{
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/svg_logo_white.png');
          background-position: 50% 0;
          background-size: 27px 30px;
        }
      }         
    }
  }
}

.social {

  .menu{
    padding-left: 0;

    li{
      display: inline-block;

      .icon-social {
        background-position: 50% 50%;
        width: 31px;
        height: 31px;
        display: block;
        font-size: 0;
        background-size: 31px;
        background-repeat: no-repeat;
        padding: 10px 0;
        margin: 0 0 0 15px;

        &.icon-facebook {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/facebook_icon_white.png');
        }
        
        &.icon-gplus {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/gplus_icon_white.png');
        }
        
        &.icon-twitter {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/twitter_icon_white.png');
        }
        
        &.icon-youtube {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/youtube_icon_white.png');
        }
        
        &.icon-instagram {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/insta_icon_white.png');
        }
        
        &.icon-linkedin {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/linkedin_icon_white.png');
        }
      }

    }

  }

}
.copyright{
  color:  #bbb;
  .container{
    padding-left: 15px;
    padding-right: 15px;
    ul{
      list-style: none;
      margin: 20px 0 0;
      padding: 0;
      .small{
        font-size: 14px;
  
      }
    }
  }
}
}

@media (max-width: 480px){
footer {
  // temporary 
  
  display: block;
  bottom: 0;
  width: 100%;
  .social {
    background-color: #3f3f3f;
    .menu {
      margin: 15px 0 20px;
      li{
        .icon-social{
          width: 20px;
          background-size: 20px;
        }
      }
    }
  }
}
}
@media (max-width: 768px){
footer {
      // temporary 
      .sparkol-products {
        ul.menu{
          li{
            width: 33%;
            max-width: 33%;
            margin: 12px 0;
            
          }
        }
      }
      .social {
        .menu {

          li{
            padding: 0 7px;
            .icon-social{

            }
          }
        }
      }
    }
}


    html {
      position: relative;
      min-height: 100%;
    }

    body {
    height: 100%;
    width: 100%;
    color: #3c3c3c;
    overflow: scroll;
    &.embeded-video {
      margin: 0;
    }
}

//override container size
@media (min-width: $screen-desktop) {
.container {
  width: 975px;
}
}
@media (min-width: $screen-lg-desktop) {
.container {
  width: 1160px;
}
}

@media (min-width: 1285px) {
.container {
  width: 1210px;
}
}

.img-responsive {
margin: 0 auto;
}


h2 {
margin-top: 15px;
}


a {
color: #7f95c7;
text-decoration: none;
}

.checkbox, .control-label, .help-block, .radio, label {
font-weight: 600;
}

.error-text {
color: $orange;
margin: 20px 0 0;
font-size: 18px;
}

#call-to-action {
padding-top: 30px;
}

.main-logo {
margin: 0 0 35px;
}

.mobile-menu-show {
header {
  z-index: 10;
}
}


footer{
  a:hover {
    color: #27a8cb;
    text-decoration: none;
}

  background-color: #353535;
  .product-desc {
    color:white;
    clear: both;
    margin-top: 5px;
    display: inline-block;
    font-size: 14px;
    color: #bfbfbf;
    font-weight: 300;
    font-family: museo-sans,Arial,sans-serif;
    margin: 0;
}
  
}

footer .copyright{
  padding: 25px 0;
}

footer .copyright .small {
  font-size: 14px;
}

ul.menu {
    margin: 22px 0;
    padding-left: 0;
}

footer ul.menu li{
  display: inline-block;
  
}

footer .social li .icon-social {
  background-position: 50% 50%;
}

footer a{
  color: white;
}

.logo-sparkol-large {
  background-image: url('https://sho.co/img/product_logos/sparkol_logo_white.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  width: 103px;
  height: 48px;
  display: inline-block;
  padding: 20px 0 0;
  margin: 0 3px;
}

footer .social li a{
  background-size: 24px;


  &.icon-facebook {
    background-image: url('https://sho.co/img/social_icons/facebook_icon_white.png');
  }

  &.icon-twitter {
    background-image: url('https://sho.co/img/social_icons/twitter_icon_white.png');
  }

  &.icon-youtube {
    background-image: url('https://sho.co/img/social_icons/youtube_icon_white.png');
  }

  &.icon-gplus {
    background-image: url('https://sho.co/img/social_icons/gplus_icon_white.png');
  }

  &.icon-linkedin {
    background-image: url('https://sho.co/img/social_icons/linkedin_icon_white.png');
  }

  &.icon-instagram {
    background-image: url('https://sho.co/img/social_icons/insta_icon_white.png');
  }


}

ul.menu li .icon-social {
  width: 31px;
  height: 31px;
  display: block;
  font-size: 0;
  background-size: 31px;
  background-repeat: no-repeat;
  padding: 10px 0;
  margin: 0 0 0 15px;
}

footer ul.menu li a {
  display: block;
  padding: 10px 20px;
  margin: 0 10px;
}

@media (max-width: 480px) {
  footer .social .menu {
      margin: 15px 0 20px;
  }
  footer .social li {
    padding: 0 4px;
  }

  footer .sparkol-products, 
  footer .subscription-wrap {
    display: none;
  }

  footer .social li .icon-social {
    width: 20px;
    background-size: 20px;
 }

}


.logo-sparkol-large {
  background-image: url('https://sho.co/img/product_logos/sparkol_logo_white.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  width: 103px;
  height: 48px;
  display: inline-block;
  padding: 20px 0 0;
  margin: 0 3px;
}


.icwrap {
	z-index: 1;
	margin-bottom: -40px;
	display: block;
	width: 100%;
	bottom: 0;
  position: absolute;
  transform: rotate(-.9deg);
}

.ic1 {
	background: #fff;
	height: 25px;
	display: block;
}

.ic2 {
	background: #161b21;
	height: 9px;
	display: block;
	margin-top: -1px;
	margin-bottom: -1px;
}

.ic3 {
	background: $blue;
	height: 25px;
	display: block;
}

//overrides
.navbar-item img {
  max-height: none;
}

.navbar-burger {
  margin-top: auto;
  margin-bottom: auto;
}

.img-responsive{
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;

}

.text-center{
  text-align: center;
}

h1.jumbo {
  font-size: 36px;
  font-family: "ff-enzo-web", sans-serif;
  font-weight: 700;
}



.intro{
  background: #2d3743;
  color: #fff;
  padding: 60px 0;
  position: relative;
}


.text-padding{
  padding:3rem;
}

.search{
  box-sizing: border-box;
    position: relative;
    padding: 55px 0;
    display: block;
    color: #3c3c3c;
    font-family: "ff-enzo-web", sans-serif;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
}

.icwrap2{
  transform: rotate(.9deg);
  z-index: 1;
  margin-bottom: -30px;
  display: block;
  width: 100%;
  bottom: 0;
  position: absolute;
  .ic2{
    background: #575F69;
  }
}
.icwrap3{
  z-index: 1;
  margin-bottom: -30px;
  display: block;
  -webkit-backface-visibility: hidden;
  width: 100%;
  bottom: 0;
  position: absolute;
  @include transform(rotate(-0.9deg));
  .ic1{    
    background: #fff;
    height: 25px;
    display: block;
  }
  .ic2{
    background: #161b21;
    height: 9px;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .ic3{
    background: #2d3743;
    height: 25px;
    display: block;
  }
}

.icwrap4{
  z-index: 1;
  margin-bottom: -30px;
  display: block;
  width: 100%;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  .ic1{    
    background: #353535;
    line-height: 1.5;
    opacity: 0.35;
    height: 10px;
    -webkit-tap-highlight-color: transparent;
  }
  .ic2{
    background: #353535;
  }
  .ic3{
    background: #353535;
  }
}

.video-length {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #444;
  color: #fff;
  display: block;
  padding: 3px 9px 1px;
  font-size: 14px;
  opacity: 0.75;
}
.videos{
  background: url(https://sho.co/assets/images/eng_bg.png) #2d3743 no-repeat bottom right;
  background-size: 50%;
  color: #fff;
  padding: 55px 0;
  position: relative;
  display: -webkit-box;

  
    .video-thumb {
      position: relative;
      display: block;
  }

  .video-links{
    position:relative;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 15px auto 65px;
    list-style: none;
    font-family: "ff-enzo-web", sans-serif;
    font-size: 16px;
    text-align: center;
      li{
        border: 1px;
        margin: 1rem;
        padding: 7px 0;
        display: inline-block;
        width: 24%;
      }

      .video-info {
        width: 100%;
        float: left;
        text-align: left;
        margin: 5px 0 0;
        color: #fff;
      }
      .video-owner {
        font-size: 14px;
      }
      a:hover{
        color: #27a8cb;
        text-decoration: underline;
      }
    }

  .stat-font {
    font-size: 12px;
    margin-top: -4px;
    display: block;
    text-transform: uppercase;
  }

  .stats-table {
    list-style: none;
    padding: 0;
    margin: 15px auto 65px;
    max-width: 935px;
    font-weight: 700;
    font-family: "ff-enzo-web", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
      li{
        border: 1px solid #61768f;
        padding: 7px 0;
        display: inline-block;
        width: 20%;
      }
    }

  .search-box {
    font-weight: 300;
    font-size: 18px;
    padding: 6px 0;
  }

  .search-label {
    margin: 0 10px 0 -45px;
    font-size: 24px;
    color: #3c3c3c;
    vertical-align: middle;
  }

  .search-input {
    width: 290px;
    border-width: 1px;
    font-style: italic;
    font-size: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

}

@media (max-width: 480px){
  .search{
    position: relative;
    padding: 55px 0;
    line-height: 1.5;
    box-sizing: border-box;
      
  }
  .search-box{
    font-weight: 300;
    font-size: 18px;
    padding: 6px 0;
    text-align: center;
  }
  .search-label {
    margin: 0 10px 0 0;
    font-size: 24px;
      color: #3c3c3c;
      vertical-align: middle;
      font-weight: 600;
  }
  .search-input{
    margin: 10px 0 0;
    width: 100%;
    border-width: 1px;
    font-style: italic;
    font-size: 18px;
    box-shadow: none;
    display: block;
    font-family: inherit;
    height: 46px;
    padding: 10px 15px;

    line-height: 1.5;
    color: #464646;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dce4ec;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}

@media (max-width: 480px){
  .videos{
    box-sizing: border-box;
    border-right: 1px solid #61768f;
    list-style: none;
    margin: -1px 0 0 0;
    text-align: center;
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
    .stats-table {      
      max-width: 937px;
      list-style: none;
      padding: 0;
      margin: 15px auto 65px;
      font-weight: 700;
      font-family: "ff-enzo-web", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      -webkit-tap-highlight-color: transparent;
        li {
          width: 50%;
          margin: -1px 0 0 0;
          border: 1px solid #61768f;
          padding: 7px 0;
          display: inline-block;
        }
        li.last{
          width: 100%;
          border-right: 1px solid #61768f;
        }
      }
      .video-links{
        position:relative;
        max-width: 100%;
        width: 100%;
        height: auto;
          li{
            border: 1px;
            display: inline-block;
            width: auto;
          }
          .video-thumb {
            width: 100%;
            position: relative;
            display: block;

          }
        }
      }
    }

@media (max-width: 480px){
h1.jumbo {
    background-size: cover;
    background-position: 25% 0;
    height: auto;
}
}

#header .navbar-toggle {
  display:none;
}


.about-page {
  
  @media (min-width: 768px)
  {
    .container {
      width: 750px;
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    
    .content {
      margin: 45px auto 0;
      max-width: 545px;
      
      p {
        font-size: 18px;
      }
    }
  }

  strong {
    color: #fff;
    font-weight: 700;
  }

}

.videoPage {
  .intro {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

.text-search {
  font-size: 24px;
  font-weight: bold;
}
.videos-number {
  float: right;
  margin: -38px 0 0 0;
  
}

.dynamic-videopage {
  .row {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    padding: 55px 0;
    display: block;
    color: #3c3c3c;
    font-family: "ff-enzo-web", sans-serif;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
  }

  .stats {
    overflow-x: hidden;
    overflow-y: hidden;

    h1 {
      margin-bottom: 0;
      overflow: hidden;
      word-wrap: break-word;
      width: 100%;
      font-size: 30px;
      font-weight: 700;
      font-family: "ff-enzo-web", sans-serif;
      line-height: 1.3;
      margin-top:20px;
      margin: .67em 0;
    }

    .upload-info {
      padding: 0 0 18px;
      margin: 0 0 10px;
      font-weight: 700;
    }

    .desc {
      max-height: 170px;
      margin-bottom: 35px;
      position: relative;
      overflow: hidden;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }

    .social-surround {
      overflow: hidden;

      p {
        font-size: 14px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 3px;
font-weight: 500;
      }
      
      ul.social-links {
        float: left;

        li {
          float: left;
          margin-top: 0px;
          margin-right: 4px;
          margin-bottom: 0px;
          margin-left: 0px;

          .share-social {
            background-attachment: scroll;
            background-clip: border-box;
            background-color: rgba(0, 0, 0, 0);
            background-origin: padding-box;
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            cursor: auto;
            display: block;
            font-family: ff-enzo-web, sans-serif;
            font-size: 16px;
            font-weight: 600;
            height: 38px;
            line-height: 24px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            padding-bottom: 8px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 8px;
            text-align: left;
            text-decoration: none;
            width: 116px;
        

            .icon {
              background-size: 20px 20px;
              background-position-x: left;
              background-position-y: center;
              background-repeat: no-repeat;
              background-size: 20px 20px;
              box-sizing: border-box;
              color: rgb(255, 255, 255);
              cursor: auto;
              display: inline;
              font-family: ff-enzo-web, sans-serif;
              font-size: 16px;
              font-weight: 600;
              height: auto;
              line-height: 24px;
              list-style-image: none;
              list-style-position: outside;
              list-style-type: none;
              padding-bottom: 0px;
              padding-left: 33px;
              padding-right: 0px;
              padding-top: 0px;
              text-align: left;
              width: auto;
            }
          }

          .share-email {
            background-image: url("https://sho.co/assets/images/email_bg.svg");
          }

          .share-fb {
            background-image: url("https://sho.co/assets/images/fb_bg.svg");
          }

          .share-twitter {
            background-image: url("https://sho.co/assets/images/twitter_bg.svg");
          }

          .share-email:hover {
            background-image: url("https://sho.co/assets/images/email_bg_hover.svg");
          }

          .share-fb:hover {
            background-image: url("https://sho.co/assets/images/fb_bg_hover.svg");
          }

          .share-twitter:hover {
            background-image: url("https://sho.co/assets/images/twitter_bg_hover.svg");
          }

          .share-email .icon {
            background-image: url("https://sho.co/assets/images/email_icon.png");
          } 
          .share-fb .icon {
            background-image: url("https://sho.co/assets/images/fb_icon.png");
          } 
          .share-twitter .icon {
            background-image: url("https://sho.co/assets/images/twitter_icon.png");
          } 

        }


      }

      .social-surround ul.action-links .eng-link.active .icon {
        background-position-x: -27px;
        background-position-y: 0px;
        background-image: url("https://sho.co/assets/images/eng_btn.png")
        }

        .social-surround ul.action-links .eng-link .icon {
          width: 27px;
          height: 23px;
          }

          .social-surround ul.action-links li .icon {
            vertical-align: text-bottom;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 15px;
            display: inline-block;
            }

            .social-surround ul.action-links li {
              float: left;
              margin-top: 0px;
              margin-right: 35px;
              margin-bottom: 0px;
              margin-left: 0px;
              }

              .report-link, .eng-link {
                font-weight: 500;
                -webkit-appearance: none;
align-items: flex-start;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(60, 60, 60);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(60, 60, 60);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(60, 60, 60);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(60, 60, 60);
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(60, 60, 60);
cursor: pointer;
display: inline-block;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 33px;
letter-spacing: normal;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 2px;
padding-left: 0px;
padding-right: 0px;
padding-top: 2px;
text-align: center;
text-decoration: none;
text-indent: 0px;
text-shadow: none;
text-transform: none;
width: 78.78125px;
word-spacing: 0px;
writing-mode: horizontal-tb;
              }

              .report-link {
                width: 90px;
              }

              .report-link.active {
                .icon {
                  background-attachment: scroll;
                  background-clip: border-box;
                  background-color: rgba(0, 0, 0, 0);
                  background-image: url("https://sho.co/assets/images/report_btn.png");
                  background-origin: padding-box;
                  background-size: auto;
                  box-sizing: border-box;
                  color: rgb(60, 60, 60);
                  cursor: pointer;
                  display: inline-block;
                  font-family: ff-enzo-web, sans-serif;
                  font-size: 16px;
                  font-stretch: normal;
                  font-style: normal;
                  font-variant-caps: normal;
                  font-weight: 600;
                  height: 23px;
                  letter-spacing: normal;
                  line-height: 24px;
                  list-style-image: none;
                  list-style-position: outside;
                  list-style-type: none;
                  margin-bottom: 0px;
                  margin-left: 15px;
                  margin-right: 0px;
                  margin-top: 2px;
                  text-align: center;
                  text-indent: 0px;
                  text-shadow: none;
                  text-transform: none;
                  vertical-align: text-bottom;
                  width: 19px;
                  word-spacing: 0px;
                  writing-mode: horizontal-tb;
                }
              }

              .eng-link.active {
                .icon {
                  background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: url("https://sho.co/assets/images/eng_btn.png");
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(60, 60, 60);
cursor: pointer;
display: inline-block;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 23px;
letter-spacing: normal;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 15px;
margin-right: 0px;
margin-top: 0px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: text-bottom;
width: 27px;
word-spacing: 0px;
writing-mode: horizontal-tb;
                }
              }


              .eng-link {
                .icon {
                  background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: url("https://sho.co/assets/images/eng_btn.png");
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(60, 60, 60);
cursor: pointer;
display: inline-block;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 23px;
letter-spacing: normal;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 15px;
margin-right: 0px;
margin-top: 0px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: text-bottom;
width: 27px;
word-spacing: 0px;
writing-mode: horizontal-tb;
                }
              }

              .report-link {
                .icon {
                  background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: url("https://sho.co/assets/images/report_btn.png");
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(60, 60, 60);
cursor: pointer;
display: inline-block;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 23px;
letter-spacing: normal;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 15px;
margin-right: 0px;
margin-top: 2px;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: text-bottom;
width: 19px;
word-spacing: 0px;
writing-mode: horizontal-tb;
                }
              }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      ul.action-links {
        margin: 4px 0 0;
        padding: 0 0 0 35px;
        float: right;
        position: relative;

        .login-required-overlay {
          position: absolute;
          background-color: #fff;
          opacity: 0.85;
          padding: 7px 0 0 0;
          margin: 0;
          top: 0;
          left: 0;
        }
        
        li {
          float: left;
          margin-top: 0px;
          margin-right: 35px;
          margin-bottom: 0px;
          margin-left: 0px;
          .last {
            margin: 0;
          }
        } 
      }
    }
  }

  .col-sm-7 {
    width: 58.3333%; 
    // float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }


  #video-detail-editable .form-group {
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
      }

      #video-title {
        width: 85%;
        display: inline-block;
        }

          .form-control {
            display: block;
            width: 100%;
            height: 46px;
            padding: 10px 15px;
            font-size: 16px;
            line-height: 1.5;
            color: #464646;
            background-color: #fff;
            background-image: none;
            border: 1px solid #dce4ec;
            border-radius: 3px;
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }

          .btn {
            margin: 0 5px 5px 0;
line-height: 1.42857;
text-transform: uppercase;
          }

          #video-detail-editable .form-group {
            margin-top: 13px;
            margin-right: 0px;
            margin-bottom: 0px;
            }

            #video-desc {
              padding-top: 10px;
              margin-top: 0px;
              margin-right: 0px;
              margin-bottom: 10px;
              overflow-x: auto;
              overflow-y: auto;
              }
            
               .btn-save {
                font-size: 12px;
                background-color: #a9d39d;
                color: white;
                border-top-color: #a9d39d;
                vertical-align: middle;
                padding-top: 6px;
                padding-right: 16px;
                padding-left: 16px;
                padding-bottom: 5px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                margin-top: 9px !important;
                margin-right: 0px;
                margin-bottom: 0px;
                margin-left: 0px;
                float: right;
            }

            .btn-edit {
              font-size: 12px;
              background-color: white;
              color: #6f6f6e;
              border-top-color: #d0d0d0;
              vertical-align: middle;
              padding-top: 6px;
              padding-right: 16px;
              padding-left: 16px;
              padding-bottom: 5px;
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
              border-bottom-right-radius: 0px;
              border-bottom-left-radius: 0px;
              margin-right: 0px;
              margin-bottom: 0px;
              margin-left: 0px;
              float: right;
            }

  .stats #video-detail-static h1, .stats #video-detail-editable h1 {
    width: 85%;
  }

  .upload-info .upload-date {
    font-weight: 300;
    }

  .upload-info {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 18px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    font-weight: 700;
  }    

  #video-detail-static {
    position: relative;
  }

  #video-detail-editable {
    position: relative;
  }

  .social-surround {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #links #url, #links #download, #links #visibility {
    width: 30%;
  }

  #links #embed-code {
    width: 69%;
  }

  .input-surround {
    text-align: left;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-right: 0px;
  }

  #links #visibility {
    margin-right: 0px;
  }
  
  .engagement {
    padding-left: 75px;
    padding-top: 23px;
    // padding-left: 90px;
    text-align: right;
  }

  .col-sm-5 {
    width: 41.66667%;
    float: left;
    padding-right: 15px;
    position: relative;
  }


}

.container1 {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.show-more {
  background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: #d0d0d0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    bottom: 0px;
    box-sizing: border-box;
    color: #7a7a7a;
    cursor: pointer;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;


  &:active, &:hover {
    color: #27a8cb;
    text-decoration: underline;
  }
}

.desc {
  box-sizing: border-box;
color: rgb(60, 60, 60);
display: block;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-weight: 600;
height: 35px;
line-height: 24px;
margin-bottom: 35px;
max-height: 170px;
overflow-x: hidden;
overflow-y: hidden;
position: relative;
width: 646.65625px;
word-wrap: break-word;
}


.input-surround label {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
}

.input-surround input {
  width: 100%;
    
    
    background-color: white;
    border-bottom-color: #d0d0d0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: #d0d0d0;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #d0d0d0;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #d0d0d0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #3c3c3c;
    cursor: auto;
    display: inline-block;
    font-family: ff-enzo-web, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: bold;
    
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    word-spacing: 0px;
  }

 #url,  #download,  #visibility {
  width: 30%;
  }

  #embed-code {
  width: 68%;
  margin-left:2%;
  }

  #visibility {
    margin-left:2%;
  }

   #download select, #visibility select {
    -webkit-appearance: menulist-button;
-webkit-rtl-ordering: logical;
align-items: center;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(208, 208, 208);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(208, 208, 208);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(208, 208, 208);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(208, 208, 208);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(60, 60, 60);
cursor: default;
display: inline-block;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: bold;
height: 21px;
letter-spacing: normal;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
white-space: pre;
width: 193.984375px;
word-spacing: 0px;
writing-mode: horizontal-tb;
    }


    .remove-video {
      display: inline-block;
      margin-top: 35px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 25px;
      }

      .video-stats {
        padding-top: 8px;
        padding-right: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        list-style-type: none;
        list-style-position: initial;
        list-style-image: initial;
        text-align: right;
        clear: both;
        font-size: 24px;
        color: rgb(111, 111, 111);
        font-weight: 700;
        }

        .video-stats li {
          display: inline-block;
          border-top-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-left-width: 1px;
          border-top-style: solid;
          border-right-style: solid;
          border-bottom-style: solid;
          border-left-style: solid;
          border-top-color: rgb(208, 208, 208);
          border-right-color: rgb(208, 208, 208);
          border-bottom-color: rgb(208, 208, 208);
          border-left-color: rgb(208, 208, 208);
          border-image-source: initial;
          border-image-slice: initial;
          border-image-width: initial;
          border-image-outset: initial;
          border-image-repeat: initial;
          margin-top: -1px;
          margin-right: 0px;
          margin-bottom: 0px;
          margin-left: -1px;
          padding-top: 2px;
          padding-right: 18px;
          padding-bottom: 5px;
          text-align: center;

          .stat {
            box-sizing: border-box;
color: rgb(111, 111, 111);
display: inline;
font-family: ff-enzo-web, sans-serif;
font-size: 24px;
font-weight: bold;
height: auto;
line-height: 36px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: center;
width: auto;
          }

          .stat-category {
            box-sizing: border-box;
color: rgb(111, 111, 111);
display: block;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-weight: 600;
height: 24px;
line-height: 24px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-top: -4px;
text-align: center;
text-transform: none;
width: 38.546875px;
          }

          
          }
          

          .col-sm-5 {
            box-sizing: border-box;
color: rgb(60, 60, 60);
display: block;
float: left;
font-family: ff-enzo-web, sans-serif;
font-size: 16px;
font-weight: 600;
height: 365px;
line-height: 24px;
min-height: 1px;
padding-left: 75px;
padding-right: 15px;
padding-top: 23px;
position: relative;

          }

.container2 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container2 {
  max-width: 775px;
  width: 1210px;
  display: block;
}

.comment-post {
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0px 12px 0px;
    float: left;
  }

  a.active {
    color: white !important;
    font-weight: 700;
  }

  .comment-sort {
    font-weight: 300;
    float: right;
    margin: 20px 0 0;
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    li {
      padding: 0 3px;
      display:inline-block;
    }
  }

  .comment-wrap {
    background-image: url(https://sho.co/assets/images/comments_bg.svg);
    position: relative;
    clear: both;
    padding: 15px 20px 30px 15px;
    margin: 15px 0 35px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;

    .comment-input {
      background-color: rgb(255, 255, 255);
      border-bottom-color: rgb(60, 60, 60);
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(60, 60, 60);
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: rgb(60, 60, 60);
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: rgb(60, 60, 60);
      border-top-style: none;
      border-top-width: 0px;
      box-shadow: none;
      box-sizing: border-box;
      color: rgb(60, 60, 60);
      cursor: text;
      display: inline-block;
      flex-direction: column;
      font-family: ff-enzo-web, sans-serif;
      font-size: 16px;
      font-stretch: 100%;
      font-style: normal;
      font-variant-caps: normal;
      font-variant-east-asian: normal;
      font-variant-ligatures: normal;
      font-variant-numeric: normal;
      font-weight: 300;
      height: 88px;
      letter-spacing: normal;
      line-height: 24px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      min-height: 88px;
      overflow-wrap: break-word;
      overflow-x: auto;
      overflow-y: auto;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 10px;
      padding-top: 0px;
      resize: none;
      text-align: start;
      text-indent: 0px;
      text-rendering: auto;
      text-shadow: none;
      text-size-adjust: 100%;
      text-transform: none;
      white-space: pre-wrap;
      width: 710px;
      word-spacing: 0px;
      writing-mode: horizontal-tb;
      -webkit-appearance: none;
      -webkit-rtl-ordering: logical;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-border-image: none;
      outline: 0px;
    }

  }
  
  #comment-btn {
    padding: 11px 0px;
    display: block;
    color: #fff;
    width: 132px;
    background-repeat: no-repeat;
    background-image: url("https://sho.co/assets/images/post_bg.svg");
    background-color: #2D3743;
    border: 0;
    margin: -53px 0 35px;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    overflow: visible;
    font-stretch: 100%;

    &:disabled {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

.comment-list {
  float: left;
  width: 100%;
  margin: 10px 0 25px;
  padding-left: 0;
  list-style: none;

  .comment-list-item {
    float: left;
    width: 100%;
    margin: 10px 0;
  }

  .comment-content {
    width: 100%;
    float: left;
    overflow: hidden;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    p {
      margin: 0 0 16px;
      
      &.username {
        font-size: 18px;
        font-weight: 700;
      }
    
      &.comment-text {
        font-weight: 300;
      }

      &.comment-info {
        color: #c1c1c1;
        font-style: italic;
        font-weight: 300;

        .reply {
          cursor: pointer;
        }
      }

    }
    
  }


}



