@import "~bulma";

$black :  #000;
$light-black : #323232;
$white : #fff;
$yellow : #f4de4d;

$dark-blue: #1a3b5a;

//colours
$blue : #2d3743;
$orange : #ed7e69;
$green: #93c783;
$yellow : #e5cb74;
$pink : #c990bf;
$light-blue : #7f95c7;

$screen-phone:               480px;
$screen-tablet:              768px;
$screen-desktop:             992px;
$screen-lg-desktop:          1200px;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}


*{
  font-family: 'Raleway', sans-serif;
}

html,
body{
  font-family: inherit;
  margin: 0 auto;
}

.relative{
  position: relative;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: $black;

  &:hover{
      color: $light-black;
  }
}


.yellow-text{
  color: $yellow; 
}

.container{
  margin: 0 auto;
  max-width: 960px;
  // padding: 1.45rem 1.0875rem;
}

section{
  @extend .relative;
}


// Responsiveness //


// Large Desktop
@media(min-width: 1368px) and (max-width: 1440px){
  
  .container{
      max-width: 960px;
  }

}

// Small Desktop
@media(min-width: 1280px) and (max-width: 1367px){
  
  .container{
      max-width: 960px;
  }
  
}


// Tablet
@media(min-width: 600px) and (max-width: 990px){
  
  .container{
      max-width: 100%;
      padding: 0;
      width: 100%;
  }
  
}

// Large Mobile
@media(min-width: 500px) and (max-width: 599px){
  
  .container{
      max-width: 960px;
  }
  
}

// Small Mobile
@media(min-width: 320px) and (max-width: 499px){
  
  .container{
      max-width: 960px;
      padding: 0;
  }
  
}

body.mobile-menu-show {
  #header {
    .navbar-header {
      position: relative;
      z-index: 1;
      background: none;
    }
    .icwrap {
      display: none;
    }
  }
}

@media(max-width: $screen-tablet){

  body.mobile-menu-show {
    #header {

      .mobile-menu{
        margin-top: 100px;
        
      }
      .icwrap{
        display: none;
      }
    }     
  }

    


  #header{

    .mobile-menu{
      margin-top: 100px;
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      overflow-y: auto;
      padding-bottom: 81px;
      background: #353535;

      .mobile-menu-wrap{
        padding: 15px;
      }

      .menu-internal, 
      .menu-main, 
      .menu-secondary, 
      .menu-social{
        background-color: #3f3f3f;
        color: #bbb;
        
      }

      ul {
        margin: 0;
        list-style: none;
        padding: 0;
        li{
          display:block;
          list-style: none;
          
          a{
            padding: 3px 15px;
            margin: 2px 0;
            line-height: 1.25;
            color: #fff!important;
            display: block;
            font-size: 26px;
          }
        }
      }
    }
  }
}

.collapse{
  display: none;
}


//@at-root

footer {
text-align: center;
clear: both;
font-weight: 300;
width: 100%;
.product-name {
  font-size: 16px;
  font-family: effra,Arial,sans-serif;
  font-weight: 400;
}
.social li {
  padding: 0 15px;
}
.sparkol-products li {
  max-width: 120px;
  width: auto;
  margin: 20px 18px;
  vertical-align: top;
}
.subscription{
  padding: 35px 0;

  .logo-sparkol-large {
      background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_logo_white.png');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 100%;
      width: 103px;
      height: 48px;
      display: inline-block;
      padding: 20px 0 0;
      margin: 0 3px;

      &.logo-link{
        font-size:0;
      }
  }

  ul.products {
    margin: 35px 0 40px;
    padding: 0;
    background: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/form_elements/addition.png') 50% 50% no-repeat;
    li {
      max-width: 165px;
      width: auto;
      margin: 0 13px;
      vertical-align: top;
      display: inline-block;
      .logo-link {
        height: auto;
        text-indent: 0;
        padding: 68px 0 0;
        margin: 0 30px;
        display: block;
        font-size: 0;
        background-repeat: no-repeat;
        &.logo-vs-large {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/vs_logo_large.png');
          background-position: 50% 0;
          background-size: 61px 50px;
       }
       &.logo-tawe-large {
        background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/tawe_logo_large.png');
        background-position: 50% 0;
        background-size: 43px 50px;
      }
     }
    }
  }
}

.sparkol-products{
  background-color: #3f3f3f;
  padding: 10px 0;
  ul.menu{
    li{
      .product-logo {
        padding: 45px 0 0;
        text-indent: 0;
        margin: 0;
        width: auto;
        background-repeat: no-repeat;
        display: block;

        &.logo-vsa-small{
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/vsa_logo_white.png');
          background-position: 50% 0;
          background-size: 28px 32px;
        }
        &.logo-blog-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/engblog_logo_white.png');
          background-position: 50% 13px;
          background-size: 44px 15px;
        }
        &.logo-ebook-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/ebook_logo_white.png');
          background-position: 50% 4px;
          background-size: 32px 29px;
      }
        &.logo-animole-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/animole_logo_white.png');
          background-position: 50% 9px;
          background-size: 44px 22px;
      }
        &.logo-tawe-small {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/tawe_logo_white.png');
          background-position: 50% 0;
          background-size: 30px 34px;
        }
        &.logo-svg-small{
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/product_logos/sparkol_products/svg_logo_white.png');
          background-position: 50% 0;
          background-size: 27px 30px;
        }
      }         
    }
  }
}

.social {

  .menu{
    padding-left: 0;

    li{
      display: inline-block;

      .icon-social {
        background-position: 50% 50%;
        width: 31px;
        height: 31px;
        display: block;
        font-size: 0;
        background-size: 31px;
        background-repeat: no-repeat;
        padding: 10px 0;
        margin: 0 0 0 15px;

        &.icon-facebook {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/facebook_icon_white.png');
        }
        
        &.icon-gplus {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/gplus_icon_white.png');
        }
        
        &.icon-twitter {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/twitter_icon_white.png');
        }
        
        &.icon-youtube {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/youtube_icon_white.png');
        }
        
        &.icon-instagram {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/insta_icon_white.png');
        }
        
        &.icon-linkedin {
          background-image: url('https://d5la3vuoz3z0g.cloudfront.net/web/dist/1041/img/social_icons/linkedin_icon_white.png');
        }
      }

    }

  }

}
.copyright{
  color:  #bbb;
  .container{
    padding-left: 15px;
    padding-right: 15px;
    ul{
      list-style: none;
      margin: 20px 0 0;
      padding: 0;
      .small{
        font-size: 14px;
  
      }
    }
  }
}
}

@media (max-width: 480px){
footer {
  // temporary 
  
  display: block;
  bottom: 0;
  width: 100%;
  .social {
    background-color: #3f3f3f;
    .menu {
      margin: 15px 0 20px;
      li{
        .icon-social{
          width: 20px;
          background-size: 20px;
        }
      }
    }
  }
}
}
@media (max-width: 768px){
footer {
      // temporary 
      .sparkol-products {
        ul.menu{
          li{
            width: 33%;
            max-width: 33%;
            margin: 12px 0;
            
          }
        }
      }
      .social {
        .menu {

          li{
            padding: 0 7px;
            .icon-social{

            }
          }
        }
      }
    }
}


    html {
      position: relative;
      min-height: 100%;
    }

    body {
    height: 100%;
    width: 100%;
    color: #3c3c3c;
    overflow: scroll;
    &.embeded-video {
      margin: 0;
    }
}

//override container size
@media (min-width: $screen-desktop) {
.container {
  width: 975px;
}
}
@media (min-width: $screen-lg-desktop) {
.container {
  width: 1160px;
}
}

@media (min-width: 1285px) {
.container {
  width: 1210px;
}
}

.img-responsive {
margin: 0 auto;
}


h2 {
margin-top: 15px;
}


a {
color: #7f95c7;
text-decoration: none;
}

.checkbox, .control-label, .help-block, .radio, label {
font-weight: 600;
}

.error-text {
color: $orange;
margin: 20px 0 0;
font-size: 18px;
}

#call-to-action {
padding-top: 30px;
}

.main-logo {
margin: 0 0 35px;
}

.mobile-menu-show {
header {
  z-index: 10;
}
}


footer{
  a:hover {
    color: #27a8cb;
    text-decoration: none;
}

  background-color: #353535;
  .product-desc {
    color:white;
    clear: both;
    margin-top: 5px;
    display: inline-block;
    font-size: 14px;
    color: #bfbfbf;
    font-weight: 300;
    font-family: museo-sans,Arial,sans-serif;
    margin: 0;
}
  
}

footer .copyright{
  padding: 25px 0;
}

footer .copyright .small {
  font-size: 14px;
}

ul.menu {
    margin: 22px 0;
    padding-left: 0;
}

footer ul.menu li{
  display: inline-block;
  
}

footer .social li .icon-social {
  background-position: 50% 50%;
}

footer a{
  color: white;
}

.logo-sparkol-large {
  background-image: url('https://sho.co/img/product_logos/sparkol_logo_white.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  width: 103px;
  height: 48px;
  display: inline-block;
  padding: 20px 0 0;
  margin: 0 3px;
}

footer .social li a{
  background-size: 24px;


  &.icon-facebook {
    background-image: url('https://sho.co/img/social_icons/facebook_icon_white.png');
  }

  &.icon-twitter {
    background-image: url('https://sho.co/img/social_icons/twitter_icon_white.png');
  }

  &.icon-youtube {
    background-image: url('https://sho.co/img/social_icons/youtube_icon_white.png');
  }

  &.icon-gplus {
    background-image: url('https://sho.co/img/social_icons/gplus_icon_white.png');
  }

  &.icon-linkedin {
    background-image: url('https://sho.co/img/social_icons/linkedin_icon_white.png');
  }

  &.icon-instagram {
    background-image: url('https://sho.co/img/social_icons/insta_icon_white.png');
  }


}

ul.menu li .icon-social {
  width: 31px;
  height: 31px;
  display: block;
  font-size: 0;
  background-size: 31px;
  background-repeat: no-repeat;
  padding: 10px 0;
  margin: 0 0 0 15px;
}

footer ul.menu li a {
  display: block;
  padding: 10px 20px;
  margin: 0 10px;
}

@media (max-width: 480px) {
  footer .social .menu {
      margin: 15px 0 20px;
  }
  footer .social li {
    padding: 0 4px;
  }

  footer .sparkol-products, 
  footer .subscription-wrap {
    display: none;
  }

  footer .social li .icon-social {
    width: 20px;
    background-size: 20px;
 }

}


.logo-sparkol-large {
  background-image: url('https://sho.co/img/product_logos/sparkol_logo_white.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  width: 103px;
  height: 48px;
  display: inline-block;
  padding: 20px 0 0;
  margin: 0 3px;
}


.icwrap {
	z-index: 1;
	margin-bottom: -40px;
	display: block;
	width: 100%;
	bottom: 0;
  position: absolute;
  transform: rotate(-.9deg);
}

.ic1 {
	background: #fff;
	height: 25px;
	display: block;
}

.ic2 {
	background: #161b21;
	height: 9px;
	display: block;
	margin-top: -1px;
	margin-bottom: -1px;
}

.ic3 {
	background: $blue;
	height: 25px;
	display: block;
}

//overrides
.navbar-item img {
  max-height: none;
}

.navbar-burger {
  margin-top: auto;
  margin-bottom: auto;
}

.img-responsive{
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;

}

.text-center{
  text-align: center;
}

h1.jumbo {
  font-size: 36px;
  font-family: "ff-enzo-web", sans-serif;
  font-weight: 700;
}



.intro{
  background: #2d3743;
  color: #fff;
  padding: 60px 0;
  position: relative;
}


.text-padding{
  padding:3rem;
}

.search{
  box-sizing: border-box;
    position: relative;
    padding: 55px 0;
    display: block;
    color: #3c3c3c;
    font-family: "ff-enzo-web", sans-serif;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
}

.icwrap2{
  transform: rotate(.9deg);
  z-index: 1;
  margin-bottom: -30px;
  display: block;
  width: 100%;
  bottom: 0;
  position: absolute;
  .ic2{
    background: #575F69;
  }
}
.icwrap3{
  z-index: 1;
  margin-bottom: -30px;
  display: block;
  -webkit-backface-visibility: hidden;
  width: 100%;
  bottom: 0;
  position: absolute;
  @include transform(rotate(-0.9deg));
  .ic1{    
    background: #fff;
    height: 25px;
    display: block;
  }
  .ic2{
    background: #161b21;
    height: 9px;
    display: block;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .ic3{
    background: #2d3743;
    height: 25px;
    display: block;
  }
}

.icwrap4{
  z-index: 1;
  margin-bottom: -30px;
  display: block;
  width: 100%;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
  .ic1{    
    background: #353535;
    line-height: 1.5;
    opacity: 0.35;
    height: 10px;
    -webkit-tap-highlight-color: transparent;
  }
  .ic2{
    background: #353535;
  }
  .ic3{
    background: #353535;
  }
}

.video-length {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #444;
  color: #fff;
  display: block;
  padding: 3px 9px 1px;
  font-size: 14px;
  opacity: 0.75;
}
.videos{
  background: url(https://sho.co/assets/images/eng_bg.png) #2d3743 no-repeat bottom right;
  background-size: 50%;
  color: #fff;
  padding: 55px 0;
  position: relative;
    .video-thumb {
      position: relative;
      display: block;
  }

  .video-links{
    position:relative;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 15px auto 65px;
    list-style: none;
    font-family: "ff-enzo-web", sans-serif;
    font-size: 16px;
    text-align: center;
      li{
        border: 1px;
        margin: 1rem;
        padding: 7px 0;
        display: inline-block;
        width: 24%;
      }

      .video-info {
        width: 100%;
        float: left;
        text-align: left;
        margin: 5px 0 0;
        color: #fff;
      }
      .video-owner {
        font-size: 14px;
      }
      a:hover{
        color: #27a8cb;
        text-decoration: underline;
      }
    }

  .stat-font {
    font-size: 12px;
    margin-top: -4px;
    display: block;
    text-transform: uppercase;
  }

  .stats-table {
    list-style: none;
    padding: 0;
    margin: 15px auto 65px;
    max-width: 935px;
    font-weight: 700;
    font-family: "ff-enzo-web", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
      li{
        border: 1px solid #61768f;
        padding: 7px 0;
        display: inline-block;
        width: 20%;
      }
    }

  .search-box {
    font-weight: 300;
    font-size: 18px;
    padding: 6px 0;
  }

  .search-label {
    margin: 0 10px 0 -45px;
    font-size: 24px;
    color: #3c3c3c;
    vertical-align: middle;
  }

  .search-input {
    width: 290px;
    border-width: 1px;
    font-style: italic;
    font-size: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

}

@media (max-width: 480px){
  .search{
    position: relative;
    padding: 55px 0;
    line-height: 1.5;
    box-sizing: border-box;
      
  }
  .search-box{
    font-weight: 300;
    font-size: 18px;
    padding: 6px 0;
    text-align: center;
  }
  .search-label {
    margin: 0 10px 0 0;
    font-size: 24px;
      color: #3c3c3c;
      vertical-align: middle;
      font-weight: 600;
  }
  .search-input{
    margin: 10px 0 0;
    width: 100%;
    border-width: 1px;
    font-style: italic;
    font-size: 18px;
    box-shadow: none;
    display: block;
    font-family: inherit;
    height: 46px;
    padding: 10px 15px;

    line-height: 1.5;
    color: #464646;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dce4ec;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}

@media (max-width: 480px){
  .videos{
    box-sizing: border-box;
    border-right: 1px solid #61768f;
    list-style: none;
    margin: -1px 0 0 0;
    text-align: center;
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
    .stats-table {      
      max-width: 937px;
      list-style: none;
      padding: 0;
      margin: 15px auto 65px;
      font-weight: 700;
      font-family: "ff-enzo-web", sans-serif;
      font-size: 16px;
      line-height: 1.5;
      -webkit-tap-highlight-color: transparent;
        li {
          width: 50%;
          margin: -1px 0 0 0;
          border: 1px solid #61768f;
          padding: 7px 0;
          display: inline-block;
        }
        li.last{
          width: 100%;
          border-right: 1px solid #61768f;
        }
      }
      .video-links{
        position:relative;
        max-width: 100%;
        width: 100%;
        height: auto;
          li{
            border: 1px;
            display: inline-block;
            width: auto;
          }
          .video-thumb {
            width: 100%;
            position: relative;
            display: block;

          }
        }
      }
    }

@media (max-width: 480px){
h1.jumbo {
    background-size: cover;
    background-position: 25% 0;
    height: auto;
}
}

#header .navbar-toggle {
  display:none;
}


.about-page {
  
  @media (min-width: 768px)
  {
    .container {
      width: 750px;
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    
    .content {
      margin: 45px auto 0;
      max-width: 545px;
      
      p {
        font-size: 18px;
      }
    }
  }

  strong {
    color: #fff;
    font-weight: 700;
  }

}